/* body{
    margin: 50px; */
/* } */
.userasendMGS{
    display: flex;
    margin: 0 50px 0 0 ;
    width: max-content;
    flex-direction: column;
}
.items{
    border: 1px solid black;
    margin: 2px;
    padding: 10px;
}
.Msg{
    font-size: 1.3rem;
}
.cuble{
    color: black;
    background-color: black;
    width: 75vh;    
    height: 1px;
    margin: 10px; 

}
.currentMSG{
    border: 1px solid black;
    width: auto;
    height: max-content;

    }
.con-msg-cuble{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;

    
}
.items2{
    
}
.package{
    background-color: burlywood;
    width: 60px;
    height: 60px;
    margin-top: -10px;

}
.server{
    background-color: darkgrey;
    font-size: 1rem;
    text-align: center;
    width: 100px;
    height: 500px;
    
}
.container{
    display: flex;
    flex-direction: row;
    height: min-content;
    margin-left: auto;
    margin-right: 5vh;

}
.severself{
    margin-left: auto;
    display: flex;
}

#temp {
    margin-left: auto;
    right: 0;
    top: 0;
    height: 100vh;
    width: 10vh;
    background-color: darkcyan;
}
.supercontaier{
    display: flex;
    flex-direction: row;
}